<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU6UG4d_p5Go5DqU5J_QYTMzNgEG8Fz_k</string>
	<key>GCM_SENDER_ID</key>
	<string>672936230259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uib</string>
	<key>PROJECT_ID</key>
	<string>lib-univesity</string>
	<key>STORAGE_BUCKET</key>
	<string>lib-univesity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672936230259:ios:c733a74bcbd02ff1ad1906</string>
	<key>DATABASE_URL</key>
	<string>https://lib-univesity-default-rtdb.firebaseio.com</string>
</dict>
</plist>